.card{
    margin: 10px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    img{
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
    h3{
        font-size: 1rem;
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        button{
            color: #328616;
            background-color: #F6FFF8;
            border: 1px solid #328616;
            border-radius: 4px;
            padding: 4px;
        }
        .btn-grp{
            display: flex;
            align-items: center;
            background-color: #328616;
            color: #fff;
            border-radius: 4px;
            gap:  5px;
            button{
                border: none;
                cursor: pointer;
                background-color: transparent;
                color: #fff;
                padding: 0 4px;
            }
        }
    }
}